#t1, #t1 th , #t1 td{
	border: 1px solid black;
	border-collapse: collapse;
	
}
#t1 td{
   text-align: right;
}

#t2, #t2 th, #t2 td{
	border: 1px solid red;
	border-collapse: collapse;
	
}
#t2 td{
   text-align: left;
}
body{
   background-image: url('anchor-with-rope.svg');
   background-repeat: no-repeat;
   background-attachment:fixed; /*fixed,scroll and loacl*/ 
    /* background-size: initial; auto, contain and cover can be used and also sizes as per wish */
   background-size: 90% 100%;
}


